{% extends 'base.html' %}

{% block content %}
    <section class="mdl-section">
        <div class="mdl-card mdl-shadow--2dp covered">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text bold"><img src="{{ account.avatar }}" alt="{{ account.username }}_avatar" class="avatar">{{ account.get_full_name }}</h2>
            </div>
            <div class="mdl-card__supporting-text no-top-padding">
                <table class="mdl-table">
                    <tbody>
                        <tr>
                            <th>Jméno:</th>
                            <td>{{ account.first_name }}</td>
                        </tr>
                        <tr>
                            <th>Příjmení:</th>
                            <td>{{ account.last_name }}</td>
                        </tr>
                        <tr>
                            <th>Gmail:</th>
                            <td>{{ account.email }}</td>
                        </tr>
                        <tr>
                            <th>Účet Google+:</th>
                            <td><a href="{{ account.url }}" target="_blank">{{ account.url }}</a></td>
                        </tr>
                        <tr>
                            <th>Profilový obrázek:</th>
                            <td><a href="{{ account.avatar }}" target="_blank" class="long-text">{{ account.avatar }}</a></td>
                        </tr>
                        <tr>
                            <th>Popis:</th>
                            <td>{% if account.about %}{{ account.about }}{% else %}<em>neznámý</em>{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            {% if can_edit %}
            <div class="mdl-card__actions mdl-card--border">
                <a href="{% url 'accounts:edit' account.username %}" class="mdl-button mdl-js-button mdl-button--primary">Upravit informace</a>
            </div>
            {% endif %}
        </div>

        <div class="mdl-card mdl-shadow--2dp covered">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">Statistiky</h2>
            </div>
            <div class="mdl-card__supporting-text no-top-padding">
                <table class="mdl-table">
                    <tbody>
                        <tr>
                            <th>Registrace:</th>
                            <td>{{ account.date_joined }}</td>
                        </tr>
                        <tr>
                            <th>Poslední přihlášení:</th>
                            <td>{% if account.last_login %}{{ account.last_login }}{% else %}<em>nikdy</em>{% endif %}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
