{% if messages %}
<div id="toast-message" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>

<script>
var i = 0;

r(function(){
    var snackbarContainer = document.querySelector("#toast-message");

    var data = [
    {% for message in messages %}   ["{{ message.tags }}", "{{ message }}"],
    {% endfor %}];

    function changeToast(index) {
        if (index > 0) {
            snackbarContainer.classList.remove(data[index-1][0]);
        }

        snackbarContainer.classList.add(data[index][0]);
        snackbarContainer.MaterialSnackbar.showSnackbar({ message: data[index][1] }); // 2750 miliseconds
    }

    changeToast(i++);
    var interval = setInterval(function() {
        changeToast(i++);
        if (i == data.length) {
            clearInterval(interval);
        }
    }, 3000);
});
function r(f){ /in/.test(document.readyState)?setTimeout("r("+f+")",9):f()}
</script>
{% endif %}
