{% extends 'templates/base.html' %}
{% load extras %}

{% block content %}
    <section class="mdl-section">
        {% for post in posts %}
        <div class="covered mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title">
                <h1>{{ post.title }}</h1>
            </div>
            <div class="mdl-card__supporting-text">
                {{ post.text|markdown }}
            </div>
        </div>
        {% endfor %}
    </section>

    <p class='info'>Došli jste na konec.</p>
{% endblock %}
