{% extends 'templates/base.html' %}
{% load extras %}

{% block content %}
    {% if posts %}
    {% for post in posts %}
    <section class="mdl-container">
        <div class="covered mdl-card mdl-shadow--2dp">
            <div class="mdl-card__document">
                <h1>{{ post.title }}</h1>
                {{ post.text|rst }}
            </div>
        </div>
    </section>
    {% endfor %}

    <p class='info'>Došli jste na konec.</p>
    {% else %}
    <section class="mdl-container">
        <p class="info">Nic k vidění.</p>
    </section>
    {% endif %}
{% endblock %}
