{% extends 'templates/landing_page.html' %}

{% block content %}
    <h1>GymGeek 2017/2018</h1>

    <p>Ahoj! GymGeek i tento školní rok bude pořádat kroužek na roudnickém gymnázium. Letos se budeme stejně jako loni učit programovat, tvořit weby a hrát si :). Kódit budeme hlavně v <a href="https://www.python.org/">Pythonu 3</a>.</p>
    <h2>Jak to bude probíhat?</h2>
    <p>Letos máme trošku jiný systém. V neděli večer uveřejníme materiály k lekci, aby si je mohl doma každý prohlédnout a zjistit, co budeme dělat a pokusil se na to přijít sám. Poté se sejdeme na lekci, kde to probereme společně a vysvětlíme si, co nám není jasné. Lekci budeme mít minimálně v pátek po vyučování, případně kdykoli jindy před vyučováním.</p>
    <h2>Kdo smí přijít?</h2>
    <p>Každý, kdo se chce naučit programovat, i když nechodí na gympl, ale na základku.</p>
    <h2>Kdy se sejdeme?</h2>
    <p>První lekce bude v pátek 13. října. Další lekce budou poté naplánovány.</p>
    <h2>Máme se někde zapsat?</h2>
    <p>Ne nemusíte, stačí přijít na první lekci.</p>
{% endblock %}

{% block note %}<span style="opacity: 0.05;">Pro přihlášení na stránky (pouze pro členy) klikněte <a href="{% url 'social:begin' 'google-oauth2' %}">zde</a>.</span>{% endblock %}
{% block footer %}<p>Tyto stránky využívají <a href="https://getmdl.io/" target="_blank">Material Design Lite</a>.</p>{% endblock %}
