<!DOCTYPE html>
<html>
<head>
    {% csrf_token %}
    <meta charset="utf-8">
    <meta name="description" content="Websites of gymgeek.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    {% load static %}
    <title>{% if title %}{{ title }} | {% endif %}GymGeek</title>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-amber.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">{{ title }}</span>

                <div class="mdl-layout-spacer"></div>

                <nav class="mdl-navigation" style="position: relative;">
                    {% if user.is_authenticated %}
                    <button id="user-menu" class="mdl-button mdl-js-button mdl-button--icon"><img src="{{ user.avatar }}" alt="avatar" class="avatar"></button>
                    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="user-menu">
                        <a href="{#% url 'users:profile' %}" class="mdl-menu__item"><li>Můj účet</li></a>
                        <li disabled class="mdl-menu__item">Odpojit se od GymGeeku</li>
                        <a href="{% url 'logout' %}" class="mdl-menu__item"><li>Odhlásit se</li></a>
                    </ul>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Menu</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="{% url 'home' %}">Hlavní stránka</a>
            </nav>

            <div class="mdl-vertical-space"></div>

            <span class="mdl-layout-title">Odkazy</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="https://docs.google.com/spreadsheets/d/1Dp6EB788l5_dWj31hXhlfQlkYgpFffe3ls54mOFcKbU/edit?usp=sharing" target="_blank"><img src="{% static 'images/icons/icon_1_spreadsheet_x16.png' %}" alt="google spreadsheet" /> Hlavní tabulka</a>
                <a class="mdl-navigation__link" href="https://goo.gl/forms/q4ONMKYO01SDnVN83" target="_blank"><img src="{% static 'images/icons/icon_2_form_x16.png' %}" alt="google form" /> Dotazník na organizaci</a>
                <a class="mdl-navigation__link" href="http://pyladies.cz/brno/" target="_blank"><img src="{% static 'images/icons/pyladies.ico' %}" alt="pyladies" /> Tutoriály od Pyladies</a>
            </nav>
        </div>

        <main class="mdl-layout__content">
            <div class="page-content">
                {% block content %}<h1>Empty Page.</h1>{% endblock %}
            </div>

            <footer class="mdl-mini-footer">
                <div class="mdl-mini-footer__left-section">
                    <div class="mdl-logo"><img src="{% static 'images/gymgeek-web.png' %}" alt="gymgeek-web logo" /></div>
                    <ul class="mdl-mini-footer__link-list">
                        <li><a href="{% url 'accounts:index' %}">Seznam gymgeeků</a></li>
                    </ul>
                </div>
            </footer>
        </main>

        {% if messages %}
        <div id="toast-message" class="mdl-js-snackbar mdl-snackbar">
            <div class="mdl-snackbar__text"></div>
            <button class="mdl-snackbar__action" type="button"></button>
        </div>

        <script>
        var i = 0;

        r(function(){
            var snackbarContainer = document.querySelector("#toast-message");

            var data = [
            {% for message in messages %}   ["{{ message.tags }}", "{{ message }}"],
            {% endfor %}];

            function changeToast(index) {
                if (index > 0) {
                    snackbarContainer.classList.remove(data[index-1][0]);
                }

                snackbarContainer.classList.add(data[index][0]);
                snackbarContainer.MaterialSnackbar.showSnackbar({ message: data[index][1] }); // 2750 miliseconds
            }

            changeToast(i++);
            var interval = setInterval(function() {
                changeToast(i++);
                if (i == data.length) {
                    clearInterval(interval);
                }
            }, 3000);
        });
        function r(f){ /in/.test(document.readyState)?setTimeout("r("+f+")",9):f()}
        </script>
        {% endif %}
    </div>
</body>
</html>
