<!DOCTYPE html>
<html>
    <head>
        {% include 'snippets/head.html' %}
        {% load static %}
    </head>

    <body>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            <header class="mdl-layout__header">
                <a href="{{ parent_page }}">
                    <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button"><i class="material-icons">keyboard_backspace</i></div>
                </a>
                <div class="mdl-layout__header-row">
                    <span class="mdl-layout-title">{{ title }}</span>

                    <div class="mdl-layout-spacer"></div>

                    <nav class="mdl-navigation" style="position: relative;">
                        {% if user.is_authenticated %}
                        <button id="user-menu" class="mdl-button mdl-js-button mdl-button--icon"><img src="{{ user.avatar }}" alt="avatar" class="avatar"></button>
                        <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="user-menu">
                            <a href="{% url 'accounts:detail' user.username %}" class="mdl-menu__item"><li>Můj účet</li></a>
                            <li disabled class="mdl-menu__item">Odpojit se od GymGeeku</li>
                            <a href="{% url 'logout' %}" class="mdl-menu__item"><li>Odhlásit se</li></a>
                        </ul>
                        {% endif %}
                    </nav>
                </div>
            </header>

            <main class="mdl-layout__content">
                <div class="page-content">
                    {% block content %}<h1>Empty Page.</h1>{% endblock %}
                </div>

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"><img src="{% static 'images/gymgeek-web.png' %}" alt="gymgeek-web logo" /></div>
                        <ul class="mdl-mini-footer__link-list">
                            <li><a href="{% url 'accounts:index' %}">Seznam gymgeeků</a></li>
                        </ul>
                    </div>
                </footer>
            </main>

            {% include 'snippets/toast_message.html' %}
        </div>
    </body>
</html>
