<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        {% include 'snippets/head.html' %}
    </head>

    <body class="landing" style="background-image: url({% static 'images/wallpaper.png' %});">
        <div class="mdl-layout mdl-js-layout">
            <main class="mdl-layout__content">
                <div class="page-content">
                    <article class="mdl-container">
                        <div class="mdl-card mdl-shadow--2dp" style="width: 100%;">
                            <div class="mdl-card__document">
                                {% block content %}<h1>Někdo zapomněl dodat obsah.</h1>{% endblock %}
                            </div>
                        </div>
                    </article>
                    {% block note %}{% endblock %}
                </div>

                <footer class="mdl-mini-footer">
                    <div class="mdl-mini-footer__left-section">
                        <div class="mdl-logo"><img src="{% static 'images/gymgeek-web.png' %}" alt="gymgeek-web logo" /></div>
                    </div>

                    <div class="mdl-mini-footer__right-section">
                        {% block footer %}{% endblock %}
                    </div>
                </footer>
            </main>
        </div>
    </body>
</html>
