body {
    background-color: #EEEEEE;
}

.no-padding {
    padding: 0;
}
.no-top-padding {
    padding-top: 0;
}

.covered {
    width: 100%;
    box-sizing: border-box;
}

.long-text {
    word-break: break-all;
}

.mdl-vertical-space {
    height: 36px;
}

/* ----- HEADER ----- */

.mdl-layout__header .mdl-navigation button {
    width: 40px;
    height: 40px;
}

.mdl-layout__header .mdl-navigation button:hover {
    background-color: inherit;
}

img.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
}

/* ----- LAYOUT DRAWER ----- */
.mdl-layout__drawer {
    width: 384px;
    -webkit-transform: translateX(-384px);
    transform: translateX(-384px);
}

.mdl-layout__drawer .mdl-navigation {
    padding-top: 0;
}

.mdl-navigation__link img {
    width: 16px;
    height: 16px;

    margin-right: 8px;
    vertical-align: text-bottom;
    border-radius: 2px;
}

/* ----- PAGE CONTENT ----- */

.page-content {
    padding: 16px 16px 64px 16px;
}

section {
    padding: 16px 0;
}

section.mdl-section {
    max-width: 1200px;
    margin: 0 auto;
}

p.info {
    text-align: center;
    color: rgb(158, 158, 158);
    line-height: 36px;

    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 16px;
}


/* --- MDL-CARD --- */
.mdl-card {
    display: inline-block;
    min-height: inherit;
    margin: 0 8px 8px 0;
}

a .mdl-card {
    transition-duration: .28s;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-property: background-color;
}

a:hover .mdl-card {
    background-color: rgba(255, 255, 255, .56);
}

.mdl-card h2.mdl-card__title-text.bold {
    display: inline-block;
    line-height: 40px;

    font-weight: 500;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.87);
}

.mdl-card h2.mdl-card__title-text.bold img {
    margin-right: 8px;
}

.mdl-card__supporting-text {
    width: auto;
}

/* --- TABLE --- */
.mdl-table {
    text-align: left;
}

.mdl-table td, .mdl-table th {
    padding: 4px 8px;
    vertical-align: top;
}

.mdl-table th:first-child {
    width: 144px;
}

/* --- FORM --- */
form table .mdl-js-textfield {
    display: block;
    width: auto;
    margin: -20px 0;
}

/* ----- TOAST MESSAGES ----- */
#toast-message {
    border-width: 0 0 5px 0;
    border-style: solid;
}

#toast-message.debug {
    border-color: #FFEB3B;
}
#toast-message.info {
    border-color: #607D8B;
}
#toast-message.success {
    border-color: #4CAF50;
}
#toast-message.warning {
    border-color: #FF9800;
}
#toast-message.error {
    border-color: #F44336;
}

/* ----- FOOTER ----- */
footer div.mdl-logo img {
    height: 1.2em;
    vertical-align: text-top;
}
